@page
@model Mikroprojekt_2.Pages.BookingcshtmlModel
@{
}

<h2>Mødebooking DSV Headquarters</h2>
<h5>Book eller ændre i dit ønskede mødelokale</h5>
<!DOCTYPE html>
<html>
<body>

    <form method="post">
        <input type="hidden" name="FilterChoice" id="filterChoice" /> <!--Dropdown filter menu-->

        <div class="container-fluid">
            <div class="d-flex justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Filtrer
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" onclick="submitFilter('Smartboard/Projektor')">Smartboard/Projektor</a></li>
                        <li><a class="dropdown-item" href="#" onclick="submitFilter('Forplejning')">Forplejning</a></li>
                        <li><a class="dropdown-item" href="#" onclick="submitFilter('5-10 personer')">5-10 personer</a></li>
                        <li><a class="dropdown-item" href="#" onclick="submitFilter('10-25 personer')">10-25 personer</a></li>
                        <li><a class="dropdown-item" href="#" onclick="submitFilter('25-40 personer')">25-40 personer</a></li>
                        <li><a class="dropdown-item" href="#" onclick="submitFilter('40-500 personer')">40-500 personer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>

    <script>
        function submitFilter(value) {
            document.getElementById('filterChoice').value = value;
            document.forms[0].submit();
        }
    </script>

    <div class="container mt-4"> <!--BILLEDER AF MØDERUM-->
        <div class="row mb-4">
            @foreach (var room in Model.Rooms)
            {
                <div class="col-md-4 text-center mb-2">
                    <img src="~/Images/Room1.jpg" class="img-fluid rounded mb-2" alt="Montenegro">
                    <a asp-page="/Reservation" asp-route-id="@room.RoomID" class="btn btn-primary">Book tid i lokale @room.Name</a> <br/>
                    ✅ Plads til @room.Capacity personer <br/>
                    @((room.Equipment.Contains("Forplejning")) ? "✅" : "❌") Forplejning <br/>
                    @((room.Equipment.Contains("Smartboard")) ? "✅" : "❌") Smartboard
                </div>
            }       
        </div>
    </div>

         <!--LInk that sends you back to the booking site-->
        <p>Ønsker du at ændre din booking? <a href="Booking">Klik her</a>.</p>
    
</body>
</html>